html {
  scroll-behavior: smooth;
}

#privacy-1,
#privacy-2,
#privacy-3,
#privacy-4,
#privacy-5,
#privacy-6,
#privacy-7,
#privacy-8,
#privacy-9 {
  scroll-margin-top: 8rem; /* 기본 모바일 */
}

@media (min-width: 768px) {
  #privacy-1,
  #privacy-2,
  #privacy-3,
  #privacy-4,
  #privacy-5,
  #privacy-6,
  #privacy-7,
  #privacy-8,
  #privacy-9 {
    scroll-margin-top: 8rem; /* md */
  }
}

@media (min-width: 1024px) {
  #privacy-1,
  #privacy-2,
  #privacy-3,
  #privacy-4,
  #privacy-5,
  #privacy-6,
  #privacy-7,
  #privacy-8,
  #privacy-9 {
    scroll-margin-top: 10rem; /* lg */
  }
}

@media (min-width: 1536px) {
  #privacy-1,
  #privacy-2,
  #privacy-3,
  #privacy-4,
  #privacy-5,
  #privacy-6,
  #privacy-7,
  #privacy-8,
  #privacy-9 {
    scroll-margin-top: 12rem; /* 2xl */
  }
}
