html {
  scroll-behavior: smooth;
}

#section-1,
#section-2,
#section-3,
#section-4 {
  scroll-margin-top: 8rem; /* 기본 모바일 */
}

@media (min-width: 768px) {
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    scroll-margin-top: 8rem; /* md */
  }
}

@media (min-width: 1024px) {
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    scroll-margin-top: 10rem; /* lg */
  }
}

@media (min-width: 1536px) {
  #section-1,
  #section-2,
  #section-3,
  #section-4 {
    scroll-margin-top: 12rem; /* 2xl */
  }
}
