@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* header */
  --header-background: #f4f4f480;
  --header-text: #808080;

  /* login button */
  --login-button: #cbcbcb80;
  --login-button-hover: #b0afaf80;

  /* button */
  --button-bg: #000000;
  --button-text: #ffffff;
  --button-hover: #3c3c3c;
  --button-hover-transparent: #e8e8e8;
  --landing-tab-button: #f8f8f8;
  --landing-tab-button-active: #ffffff;

  /* help card */
  --help-card-background: #f8f8f8;

  /* privacy policy */
  --privacy-policy-navigation-text: #cccccc;
  --privacy-policy-navigation-text-selected: #000000;
  --privacy-policy-navigation-text-hover: #000000;
  --privacy-policy-hover-background: #f8f8f8;

  /* input & text area */
  --input-label: #676767;
  --input-bg: #ececec;

  /* primary color */
  --primary-color: #6299FF;

  /* modal */
  --modal-background: #f6f6f6;

  /* grid box(interest 선택용) */
  --grid-box-bg: #EDEDED;

  /* search icon */
  --search-icon: #CDCDCD;

  /* user card */
  --user-card-bg: #F5F5F5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto);
  --color-header-background: var(--header-background);
  --color-header-text: var(--header-text);
  --color-login-button: var(--login-button);
  --color-button-bg: var(--button-bg);
  --color-button-text: var(--button-text);
  --color-button-hover: var(--button-hover);
  --color-button-hover-transparent: var(--button-hover-transparent);
  --color-landing-tab-button: var(--landing-tab-button);
  --color-landing-tab-button-active: var(--landing-tab-button-active);
  --color-login-button-hover: var(--login-button-hover);
  --color-help-card-background: var(--help-card-background);
  --color-privacy-policy-navigation-text: var(--privacy-policy-navigation-text);
  --color-privacy-policy-navigation-text-hover: var(
    --privacy-policy-navigation-text-hover
  );
  --color-privacy-policy-navigation-text-selected: var(
    --privacy-policy-navigation-text-selected
  );
  --color-privacy-policy-hover-background: var(
    --privacy-policy-hover-background
  );
  --color-input-bg: var(--input-bg);
  --color-input-label: var(--input-label);
  --color-primary-color: var(--primary-color);
  --color-modal-background: var(--modal-background);
  --color-grid-box-bg: var(--grid-box-bg);
  --color-search-icon: var(--search-icon);
  --color-user-card-bg: var(--user-card-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header-background: #25252580;
    --header-text: #bababa;
    --login-button: #3f3f3f99;
    --button-bg: #ffffff;
    --button-text: #000000;
    --button-hover: #c1c1c1;
    --button-hover-transparent: #222222;
    --landing-tab-button: #25252580;
    --landing-tab-button-active: #000000;
    --login-button-hover: #5f5f5f99;
    --help-card-background: #1a1a1a;
    --privacy-policy-navigation-text: #515050;
    --privacy-policy-navigation-text-selected: #ffffff;
    --privacy-policy-navigation-text-hover: #ffffff;
    --privacy-policy-hover-background: #25252599;

    /* input & text area */
    --input-label: #595959;
    --input-bg: #1F1F1F;

    /* primary color */
    --primary-color: #6299FF;

    /* modal */
    --modal-background: #101010;

    /* grid box(interest 선택용) */
    --grid-box-bg: #1a1a1a;

    /* search icon */
    --search-icon: #343434;

    /* user card */
    --user-card-bg: #1a1a1a;
  }
}

.font-robotoMono {
  font-family: var(--font-roboto-mono), Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* 스크롤은 되지만, 스크롤바는 안 보이게 */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* globals.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}